{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Email envoyé</h3>
                    <p>Nous vous avons envoyé par email les instructions pour réinitialiser votre mot de passe. Vous devriez les recevoir sous peu.</p>
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Retour à la connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
